*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgba(70, 141, 134), rgba(90, 180, 170));
}
section {
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6em;
  color: white;
  box-shadow: 5px 5px rgb(52, 52, 52);
}

#stuff {
  height: 400px;
  width: 400px;
}

#calc {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 49%;
  left: 52.5%;
  cursor: pointer;
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%); */
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  /* box-shadow: 10px 5px 5px rgb(52, 52, 52); */
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.scroll-up {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%); */
  top: 102%;
  border-radius: 50px;
  cursor: pointer;
  /* box-shadow: 10px 5px 5px rgb(52, 52, 52); */
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, 100%) rotate(45deg);
  border: 2px solid white;
  border-bottom: transparent;
  border-right: transparent;
  animation: scroll-up 1s ease-in-out infinite;
}
.scroll-up::before {
  bottom: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-up {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    bottom: 90%;
    opacity: 0;
  }
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 620px;
  width: 400px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 120px repeat(5, 100px);
  box-shadow: 10px 5px 5px rgb(52, 52, 52);
  border-radius: 10px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(4, 14, 17);
  outline: none;
  background-color: rgba(12, 22, 26);
  color: white;
}

.calculator-grid > button:hover {
  background-color: rgba(12, 22, 26, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(1, 8, 7);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  overflow-wrap: anywhere;
  word-break: normal;
  border-radius: 10px 10px 0 0;
}

.output .previous-operand {
  color: rgba(93, 187, 177);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

#op {
  background-color: rgba(38, 82, 88);
}

#op:hover {
  background-color: rgba(38, 82, 88, 0.9);
}

#equal {
  background-color: rgba(76, 152, 143);
  border-radius: 0 0 10px 0;
}

#equal:hover {
  background-color: rgba(76, 152, 143, 0.1);
}

#dot {
  border-radius: 0 0 0 10px;
}
